html {
  background: #B26B6B;
}

body {
  margin:15px;
}

.delete {
  color: #338585;
  font-size: 18px;
  padding-left: 20px;
}

.add-contact{
  margin-bottom: 20px;
}

.add-new {
  color: orange;
}

.hover {
  color: #75A3A3;
}

.container {
  width: 350px;
  float: left;
}

.details {
  float: left;
  font-size: 60px;
  /*color: white;*/
  background: url(http://ep.yimg.com/ty/cdn/yhst-96745417742161/cheetah-brown.jpg) no-repeat;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  }
}

h1 {
  font-size: 40px;
  color: #EBEBE0;
}

